* {
	box-sizing: border-box;
	text-decoration: none;
}

a{
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.6;
	background-color: black;
}

img{
    width: 100;
}

li{
    list-style-type: none;
}

ul{
    padding-left: 0;
    margin: 0 0;
}

/* HEADER */

header{
    background-image: url("https://www.walldevil.com/wallpapers/w02/849242-artwork-bahamut-dragons-fantasy-art-guild-wars-2-gw2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: top;
    color: white;
}

header .fa{
    border: solid white 1px;
    border-radius: 50%;
    padding: 5px;
}

.offre p{
    text-align: center;
    margin: 0;
    padding: 10px 0 ;
    background-color: rgba(0, 0, 0, 0.6);
}

.middleHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.middleHeader img{
    width: 15%;
    height: 15%;
}

.middleHeader p{
    border: white solid 1px;
    border-radius: 30px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

header nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

header nav a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

header a{
    padding: 14px 100px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

.search{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 30px;
}

.search input{
    border: white solid 1px;
    border-radius: 30px;
    padding: 10px 100px;
	background-color: rgba(255, 255, 255, 0.2);
}

/* FOOTER */

footer{
	background-color: lightgrey;
	color: white;
}

.infoSite p{
	margin: 0 0;
}

.infoSite ul{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.middleFooter{
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.middleFooter{
	padding: 20px 0;
}

.middleFooter h4{
	margin-top: 0;
}

.middleFooter div{
	border: lightgray solid 2px;
	width: 20%;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

.licence p{
	margin: 0 0;
	padding: 10px 0 ;
	text-align: center;
	width: 60%;
	margin: auto;
}

.licence{
	background-color: rgba(0, 0, 0, 0.5);
}

/* HOME */

.home{
	width: 80%;
	margin: auto;
	background-color: grey;
	text-align: center;
}

.bestArticle{
	display: flex;
	justify-content: space-around;
	margin: 20px 20px;
	border: 5px solid white;
	background-color: lightgrey;
}

.bestArticle h5{
	color: black;
	font-size: 15px;
}

.bestArticle p{
	color: black;
	font-weight: bold;
}

.slider{
	width: 80%;
	height: 80%;
	margin: auto;
	padding-top: 50px;
}

.aleatoireArticle{
	display: flex;
	justify-content: space-around;
	margin: 20px 20px 0 20px;
	border: 5px solid white;
	background-color: lightgrey;
}

.aleatoireArticle h5{
	color: black;
	font-size: 15px;
}

.aleatoireArticle p{
	color: black;
	font-weight: bold;
}

.articles{
	padding-bottom: 20px;
}

/* REGISTERED */

.registation{
	color: white;
	text-align: center;
	background-image: url("https://images2.alphacoders.com/249/thumb-1920-249150.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	width: 80%;
	margin: auto;
	color: black;
	font-weight: bold;
}

.registation form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.registation h4{
	margin-top: 0;
	padding-top: 20px;
}

.registation input{
	border: solid 2px white;
	border-radius: 40px;
	padding: 10px 40px;
	text-align: center;
	background-color: lightgrey;
	margin-bottom: 40px;
}

.registation a{
	margin-bottom: 50px;
	border: white solid 2px;
	background-color: black;
	padding: 5px 10px;
	border-radius: 10px;
}

.registation button{
	margin-bottom: 50px;
	border: white solid 2px;
	background-color: black;
	padding: 5px 10px;
	border-radius: 10px;
	color: white
}

/* LOGIN */

.login{
	background-color: grey;
	width: 80%;
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
	color: white;
}

.login h4{
	margin-top: 0;
	padding-top: 20px;
}

.login form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.login input{
	border: solid 2px white;
	border-radius: 40px;
	padding: 10px 40px;
	text-align: center;
	background-color: lightgrey;
	margin-bottom: 40px;
}

.login a{
	margin-bottom: 50px;
	border: white solid 2px;
	background-color: black;
	padding: 5px 10px;
	border-radius: 10px;
}

.login button{
	margin-bottom: 50px;
	border: white solid 2px;
	background-color: black;
	padding: 5px 10px;
	border-radius: 10px;
	color: white
}

/* SHOP */

.shop{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	padding: 30px 30px;
	background-color: lightgrey;
}

.shop article{
	width: 100%;
}

.shop p{
	margin: 0 0;
	color: black
}

.shop h4{
	margin: 0 0;
	color: black
}

.shop a{
	width: 20%;
	margin: 0 10px 20px 10px;
	border: 2px black solid;
}

/* SHOP DETAILS ARTICLE */

.articleDetails{
	color: white;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.topLeft{
	width: 25%;
	text-align: center;
	padding: 10px 10px;
}

.topRight{
	width: 70%;
	text-align: left;
	padding: 10px 10px;
}

.comments{
	background-color: lightgrey;
	color: white;
	border: 2px solid grey;
	width: 80%;
	margin: auto;
}

.newComments h2{
	color: black;
}

.comments li{
	background-color: grey;
	border :2px solid black;
	width: 80%;
	margin: 10px 10px;
}

.comments ul{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.newComment{
	color: white;
	text-align: center;
	background-color: grey;
	border: lightgrey solid 2px;
	width: 90%;
	margin: auto;
}

.newComment form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

.newComment form label{
	font-size: 20px;
}

.newComment form button{
	margin: 20px auto;
	width: 20%;
	padding: 10px 10px;
	border-radius: 20px;
}

/* PANIER */

.shopPanier{
	background-color: white;
	display: flex;
	justify-content: space-around;
	padding: 30px 30px;
}


.left article{
	display: flex;
	justify-content: space-around;
	margin: auto;
	border: solid 2px grey;
	margin: 20px 20px;
}

.left{
	width: 80%;
}

.right{
	width: 10%;
	border: 2px solid grey;
	text-align: center;
}


.panierLeft{
	width: 25%;
}

.panierRight{
	width: 70%;
	text-align: center;
}
