* {
	box-sizing: border-box;
	text-decoration: none;
}

a{
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.6;
	background-color: black;
}

img{
    width: 100;
}

li{
    list-style-type: none;
}

ul{
    padding-left: 0;
    margin: 0 0;
}

/* HEADER */

header{
    background-image: url("https://www.walldevil.com/wallpapers/w02/849242-artwork-bahamut-dragons-fantasy-art-guild-wars-2-gw2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: top;
    color: white;
}

header .fa{
    border: solid white 1px;
    border-radius: 50%;
    padding: 5px;
}

.offre p{
    text-align: center;
    margin: 0;
    padding: 10px 0 ;
    background-color: rgba(0, 0, 0, 0.6);
}

.middleHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.middleHeader img{
    width: 15%;
    height: 15%;
}

.middleHeader p{
    border: white solid 1px;
    border-radius: 30px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

header nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

header nav a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

header a{
    padding: 14px 20px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

.search{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 30px;
}

.search input{
    border: white solid 1px;
    border-radius: 30px;
    padding: 10px 100px;
	background-color: rgba(255, 255, 255, 0.2);
}

/* FOOTER */

footer{
	background-color: lightgrey;
	color: white;
}

.infoSite p{
	margin: 0 0;
}

.infoSite ul{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.middleFooter{
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.middleFooter{
	padding: 20px 0;
}

.middleFooter h4{
	margin-top: 0;
}

.middleFooter div{
	border: lightgray solid 2px;
	padding: 10px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

.licence p{
	margin: 0 0;
	padding: 10px 0 ;
	text-align: center;
	width: 60%;
	margin: auto;
}

.licence{
	background-color: rgba(0, 0, 0, 0.5);
}

/* HOME */

.home{
	width: 80%;
	margin: auto;
	background-color: grey;
}

.slider{
	width: 80%;
	height: 80%;
	margin: auto;
	padding-top: 50px;
}

/* REGISTERED */

.registered{
	color: white;
	text-align: center;
	background-image: url("https://images2.alphacoders.com/249/thumb-1920-249150.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	width: 80%;
	margin: auto;
	color: black;
	font-weight: bold;
}

.registered form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.registered h4{
	margin-top: 0;
	padding-top: 20px;
}

.registered input{
	border: solid 2px white;
	border-radius: 40px;
	padding: 10px 40px;
	text-align: center;
	background-color: lightgrey;
	margin-bottom: 40px;
}

.registered a{
	margin-bottom: 50px;
	border: white solid 2px;
	background-color: black;
	padding: 5px 10px;
	border-radius: 10px;
}

/* LOGIN */

.login{
	background-color: grey;
	width: 80%;
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
	color: white;
}

.login h4{
	margin-top: 0;
	padding-top: 20px;
}

.login form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.login input{
	border: solid 2px white;
	border-radius: 40px;
	padding: 10px 40px;
	text-align: center;
	background-color: lightgrey;
	margin-bottom: 40px;
}

.login a{
	margin-bottom: 50px;
	border: white solid 2px;
	background-color: black;
	padding: 5px 10px;
	border-radius: 10px;
}
